@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}

.logo{
    width:35px;
    display:flex;
    justify-content: center;
    align-items:center
}
.logo img{
    width:35px;
    border: 3px solid white;
    border-radius: 50px;
} 

.navbar{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position : sticky;
    top:0;
    cursor: pointer;    
}
.nav-list{
    width:50%;
    align-items: canter;
    display: flex;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;

}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}
.rightNav{
    padding: 0  23px;
    width:43%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background {
    background: rgba(0, 0, 0, 0.7) url('../img/bk.webp');
     background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 80vh;

}
.box-main{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height:75%;

}   
.firstHalf{
    display: flex;
    flex-direction:column;
    width:80%;
    justify-content: center;
}
.secondHalf {
    width: 30%;
                
}
.secondHalf img{
    border: 4px solid;
    border-radius: 150px;
     display: block;
    margin: auto;
    width: 70%;
}
.text-head{
font-size: 35px;
}
.text-big{
font-size: 21px;
}
.text-small{
       font-size: 17px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 4px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: white;
    font-family: 'unbuntu',sans-serif;
    font-size: 20px;

}
.btn-smc{
    padding:6px 10px;
    vertical-align: middle;
    font-size: 16px;
}
.btn-dark{
    color:black;
    border:2PX Solid grey;
}
.section{
    height: 506px;
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.section-left{
    flex-direction: row-reverse;

}
.paras{
    padding: 0px 65px;
}
.sectionTag{
    padding:  16px 0;
}

.sectionSubTag{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius:26px;
    margin-top: 19px;
}
.contact{
    background-color: #f6f5f4;
    height:833px;

}
.text-advance{
    text-align: center;
    padding-top: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-size: 35px;
}
.form{
    max-width: 1200px;
    margin: 25px auto;

}
.form-input{
    margin: 14px 0;
    padding: 5px 3px;
    width:100%;
    font-size:19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body {
    margin: o;
    padding: 0;
    font-family: "Lato",sans-serif;
    background: -webkit-linear-gradient(to right, #1b1b1d, #0d0e0e);
    background: linear-gradient(to right, #1b1b1d, #0f0f0f);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;

}
.writer{
    width: 400px;
}  
.file-upload-wrapper{
    position: relative;
    width:100%;
    height:60px;
    cursor: pointer;
} 
.file-upload-wrapper::after{
    content:attr(data-text);
    font-size:18px;
    position: absolute;
    top:0;
    left:0;
    background: #fff;
    padding:10px 15px;
    display:block;
    width:calc(100% - 40px);
    pointer-events: none;
    z-index:20;
    height:40px;
    line-height:40px;
    color:#999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}
.file-upload-wrapper::before{
    content:"upload";
    position:absolute;
    height:60px;
    background: -webkit-linear-gradient(to right, #1d2020, #222225);
    background: linear-gradient(to right, #1d2020, #222225);
    color:#fff;
    font-weight:700;
    z-index:25;
    font-size:16px;
    line-height:60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events:none;
    border-radius: 0 5px 0;
    transition: 0.5s ease-in-out;

}
.file-upload-wrapper input{
    opacity:0;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:99;
    height:40px;
    margin:0;
    padding: 0;
    display: block;
    width: 100%;

}

.footer{
    background: #2c2c2c;
    padding: 90px 0;

}

.footer-container{
    max-width:1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.logo{
    width: 180px;
}

.social-media{
    margin:20px 0;

}
.social-media{
    margin:20px 0;
}
.social-media a
{
    color: #fff;
    margin-right:25px;
    font-size:22px;
    text-decoration: none;
    transition: .3s linear;
}
.social-media a:hover{
  color:#2196F3;

}
.right-text
{
    color:#888;
    font-family: late;

}

.right-col h1{
    font-size:26px;
}
.border{
    width: 100px;
    height:4px;
    background: #fc5c65;
}
.newaletter-form
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;

}

.text-big{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline:none;
    border-radius:30px;
    min-width: 260px;
}
.btn1{
    padding: 18px 40px;
    font-size:16px;
    color:#fff;
    background: #0a0a0a;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity .3s linear;
}
.btn1:hover
{
    opacity: .7;
}
.page-content
{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 960px)
{
    .footer-container
    {
        max-width: 600px;

    }
    .right-col
    {
        width: 100%;
        margin-bottom: 60px;
    }
    .left-col{
        width: 100%;
        text-align:center;
    }
}

@media screen and (max-width: 700px)
{
    .btn{
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
    
}